Repository voxpupuli/puppet-drbd, pull requests merged in 2024-09, with the labels that each got.

#128 Drop RedHat 6 and 7
  metadata.json
  spec/classes/drbd_spec.rb
Labels: backwards-incompatible

#119 Add RedHat 8 and 9 support
  metadata.json
Labels: enhancement

#129 Update Readme, delete old travis information and fix rubocop todos
  .rubocop.yml
  .rubocop_todo.yml
  .sync.yml
  README.md
  REFERENCE.md
  spec/classes/drbd_spec.rb
  spec/defines/resource_spec.rb
Labels: enhancement, docs

#130 modulesync 9.2.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#131 modulesync 9.3.0
  .github/workflows/release.yml
  .msync.yml
Labels: modulesync
